<div class="items">
   <h2>My Bucket List</h2>
   <ul id="items">
   {{#each items as |item|}}
     <div>

       <!-- Item Display Modal -->
       <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#itemView">
         {{item.title}}
       </button>
       <!-- Modal -->
       <div class="modal fade" id="itemView" tabindex="-1" role="dialog" aria-labelledby="itemViewLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="itemViewLabel">{{item.title}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div>
                 Item ID: {{item.id}}
               </div>
               <br><div>
                 Location: {{item.location}}
               </div>
               <br>
               <div>
                 Description: {{item.description}}
               </div>
               <br>
               <div>
                 Cost: {{item.cost}}
               </div>
               <br>
               <div>
                 Importance Rating: {{item.importanceScale}}
               </div>
               <br>
               <div>
                 Difficulty Rating: {{item.difficultyScale}}
               </div>
               <br>
               <div>
                 Completed: {{item.completed}}
               </div>
               <br>
             </div>
           </div>
         </div>
       </div> <!--ends view item modal-->

       <!--Complete Button-->
       <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#completeItem">
         Done
       </button>
       <div class="modal fade" id="completeItem" tabindex="-1" role="dialog" aria-labelledby="completeItemLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="completeItemLabel">I did it!</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <form id="completedItemForm">
                 Do you want to mark this item as completed?</br>
                 <input type="number" name="item[{{item.id}}]" min="0" step="1"><br/>
                 <button class="btn" type="submit" id="complete-item-submit">Yes, mark it off!</button>
               </form>
             </div>
           </div>
         </div>
       </div>

       <!--Update button-->
       <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#updateItem">
         Update
       </button>
       <!-- Modal -->
       <div class="modal fade" id="updateItem" tabindex="-1" role="dialog" aria-labelledby="updateItemLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateItemLabel">Update My Bucket List Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
              <div>
                <h6><span>* = Required Field</span></h6>
              </div>
              <h4 class="form-title"> Change the fields you want to update: </h4>
              <form id="update-form">
                Title: <span class="required field">*</span> <input type="text" name="item[{{item.title}}]"> <br>
                Description: <span class="required field">*</span> <textarea name="item[{{item.description}}]" rows="10" cols="50" placeholder=""> </textarea> </br>
                Location: <input type="text" name="item[{{item.location}}]" placeholder="Ex: Boston"> </br>
                Cost Estimate: <input type="text" name="item[cost]"> </br>
                Importance Rating: <!--name="item[{{item.importanceScale}}]"-->
                Rate the importance from 1 (bad) to 5 (good):
                <div class="chart-scale">
                  <button class="btn btn-scale btn-scale-asc-1">1</button>
                  <button class="btn btn-scale btn-scale-asc-2">2</button>
                  <button class="btn btn-scale btn-scale-asc-3">3</button>
                  <button class="btn btn-scale btn-scale-asc-4">4</button>
                  <button class="btn btn-scale btn-scale-asc-5">5</button>
                </div>
                </br>
                Difficulty Rating: <!--name="item[{{item.difficultyScale}}]"-->
                Rate the difficulty from 1 (bad) to 5 (good):
                <div class="chart-scale">
                  <button class="btn btn-scale btn-scale-asc-6">1</button>
                  <button class="btn btn-scale btn-scale-asc-7">2</button>
                  <button class="btn btn-scale btn-scale-asc-8">3</button>
                  <button class="btn btn-scale btn-scale-asc-9">4</button>
                  <button class="btn btn-scale btn-scale-asc-10">5</button>
                </div>
                <button class="btn" type="submit" id="update-item-submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
       </div>

       <!--deleteItem-->
       <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#deleteItem">
         Delete
       </button>
       <div class="modal fade" id="deleteItem" tabindex="-1" role="dialog" aria-labelledby="deleteItemLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="deleteItemLabel">Delete Bucket List Item</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <form id="deleteItemForm">
                 Are you sure you want to delete this bucket list item?</br>
                 <input type="number" name="item[{{item.id}}]" min="0" step="1"><br/>
                 <button class="btn" type="submit" id="delete-item-submit">Yes, delete it!</button>
               </form>
             </div>
           </div>
         </div>
       </div>
       <br>
     </div>
   {{/each}}
   </ul>
</div>
